In [1]:
#make pizza order with rules
# small pizza : 15
# Medium Pizza : 20
# Large Pizza : 25
# extra peperoni for small pizza : +2
# extra peperoni for medium or large : +3
# extra cheese for any pizza : +1

# input:
# size : L
# add Peperoni : Y
# extra cheese : N

# output
# your total bill is 28

# print("Welcome To Python Pizza Delivery")
# size = input("What size do you want ? ")
# addPepperoni = input("Do you want Pepperoni ? ")
# extraCheese = input("Do you want extra cheese ? ")

In [3]:
size = input("What size do you want L, M, or S ? ")
addPepperoni = input("Do you want Pepperoni ? ")
extraCheese = input("Do you want extra cheese ? ").upper()
bill = 0

if size == 'L':
    bill += 25
elif size == 'M':
    bill += 20
elif size == 'S':
    bill += 15
    
if addPepperoni == 'Y':
    if size == 'S':
        bill += 2
    else:
        bill += 3
        
if extraCheese == 'Y':
    bill += 1
    
print(f"your final bill is {bill}")

What size do you want L, M, or S ? L
Do you want Pepperoni ? Y
Do you want extra cheese ? N
your final bill is 28

In [4]:
# logical operator
height = int(input("whats your height : ") )
age = int(input("whats your age : ") )
bill = 0

if height > 120:
    print("you can ride")
    if age < 12:
        bill = 5
        print("please pay $5")
    elif age < 18:
        bill = 7
        print("please pay $7")
    elif age >= 44 and age <= 55:
        print("everything is free")
    else:
        bill = 12
        print("please pay $12")
    photo = input("Do you wany a photo taken ? Y or N ")
    if photo == "Y" or photo == "y":
        bill += 3
        print(f"your bill is {bill}")
    else:
        print(f"your bill is {bill}")
else:
    print("sorry")

whats your height : 130
whats your age : 44
you can ride
everything is free
Do you wany a photo taken ? Y or N y
your bill is 3

In [7]:
# count and lower case
word = input("whats your name ? ").lower()
result = word.count('a')
print(f"you have {result} a char in your name")

whats your name ? anda
you have 2 a char in your name

In [36]:
# random
import random
random.seed(2)
randomInteger = random.randint(1,10)
randomInteger

1

In [24]:
randomFloat = random.random()
randomFloat

0.5692038748222122

In [17]:
#random float 0.000 - 5.000
randomby5 = random.random() * 5
randomby5

2.1243514185821115

# List / Array

In [38]:
IndonesiaProv = ['Jakarta', 'Jabar', 'Bali', 'Jatim']
IndonesiaProv

['Jakarta', 'Jabar', 'Bali', 'Jatim']

In [43]:
#slice array
IndonesiaProv[:3] # start , end, step

['Jakarta', 'Jabar', 'Bali']

In [45]:
#last array
IndonesiaProv[-2]

'Bali'

In [47]:
# change index array 0
IndonesiaProv[0] = 'Kalimantan'
IndonesiaProv

['Kalimantan', 'Jabar', 'Bali', 'Jatim']

In [48]:
# add new single element from last index
IndonesiaProv.append('Sumatra')
IndonesiaProv

['Kalimantan', 'Jabar', 'Bali', 'Jatim', 'Sumatra']

In [50]:
# add new multiple element from the last index
IndonesiaProv.extend(['Papua', 'Ntt'])
IndonesiaProv

['Kalimantan', 'Jabar', 'Bali', 'Jatim', 'Sumatra', 'Papua', 'Ntt']

In [55]:
# create random list to choose who will pay the bill use random module
# input : Jon, Danny, James
# output : Jon will be pay the bills

import random
name = input("Please provide the names with comma separator : ")
#print(name[0])
#split into array
names = name.split(", ")
print(names)

Please provide the names with comma separator : Jon, Danny, James
['Jon', 'Danny', 'James']

In [56]:
# get total number of list item
numItem = len(names)
numItem

3

In [61]:
# generate random number between 0 to i
randomChoices = random.randint(0, numItem) # range 0 - 3
print(randomChoices)

1

In [63]:
personwhoWillPay = names[randomChoices] # names[1]
print(f"{personwhoWillPay} will pays the bills")

Danny will pays the bills

In [73]:
# list
# Given this nested list, use indexing to grab the word "hello" **
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][-1]

['hello']

In [75]:
# grab sport
tweet = "hello #sport"
tweet.split('#')[-1]

'sport'

In [76]:
#dictiornary
thisdict = {
    
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict['model']

'Mustang'

In [82]:
dict = [{'nama':'udin' ,'jk':'l'},{'nama':'ana' ,'jk':'p'}]
dict[1] # butuh di looping

{'nama': 'ana', 'jk': 'p'}

In [90]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][-1]['tricky'][-1]['target'][-1]

'hello'

## for loop

In [91]:
fruits = ['aple','peach','mango']

for x in fruits:
    print(x)

aple
peach
mango

In [99]:
# Menghitung tinggi rata2 dari setiap anak
#input = student_height = 156 178 165 181
#output

# 1. spread into array
student_height = input("Input List of student height : ").split()

for n in range(0, len(student_height)):
    student_height[n] = int(student_height[n])
print(student_height)

#using for loop to find length array
#number_of_student = len(student_height)
number_of_student = 0
for student in student_height:
    number_of_student += 1
print(number_of_student)    

# 2. find total sum
#total_height = sum(student_height)
total_height = 0
for height in student_height:
    total_height += height
print(total_height)


# 3. find avg
avg_height = round(total_height/number_of_student)
print(avg_height)

Input List of student height : 156 178 165 181
[156, 178, 165, 181]
4
680
170

In [104]:
## mencari siapa paling tinggi
#input = student_height = 156 178 165 181
#output = 181

student_height = input("Input List of student height : ").split()

for n in range(0, len(student_height)):
    student_height[n] = int(student_height[n])
print(student_height)

# find max height
#max_height = max(student_height)
#print(max_height)
max_height = 0

for max in student_height:
    if max > max_height:
        max_height = max
print(max_height)

Input List of student height : 156 178 165 181
[156, 178, 165, 181]
181

In [4]:
#Range
# jumlahkan 1 + 2 +3 + 4 + 5

total  = 0
for number in range(0, 6):
    total += number
total

15

In [9]:
# jumlahkan kelipatan 2 dari 2 - 100
total = 0
for number in range(0, 101, 2):
    total += number
print(total)

2550

In [ ]:
# Write python function with iterate the integers from 1 - 20
# For * 3 print 'Fizz'
# For * 5 print 'Buzz'
# For 3 * 5 print 'FizzBuzz'